ion-header {
  border-radius: 0 0 20px 20px;

  ion-toolbar {
    border-radius: 0 0 20px 20px;
    position: relative;

    h1 {
      text-align: center;
      color: #fff;
      font-size: 1.3rem;
      font-weight: 600;
      margin: 0;
      line-height: 3rem;
    }

    .back-btn {
      position: absolute;
      left: 1rem;
      top: 50%;
      transform: translateY(-50%);
      background: transparent;
      border: none;
      color: #fff;
      font-size: 1.5rem;
      cursor: pointer;
      z-index: 10;
      padding: 6px;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
      }
    }
  }
}
ion-content {
  --padding-start: 16px;
  --padding-end: 16px;
  --padding-top: 16px;
  --padding-bottom: 16px;
  background-color: #f7f7f7;

  .dish-header {
    margin-bottom: 16px;

    h2 {
      font-size: 22px;
      color: #333;
    }

    p {
      font-size: 14px;
      color: #666;
    }
    p i{
        color: var(--ion-color-warning);
    }
  }

  .dish-card {
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    min-height: 250px;
    cursor: pointer;

    ion-img {
      width: 100%;
      height: 150px;
      object-fit: cover;
      border-radius: 16px 16px 0 0;
    }

    ion-card-content {
      padding: 10px;

      .dish-name {
        font-weight: 600;
        font-size: 15px;
        margin-bottom: 4px;
        color: #222;
      }

      .dish-price {
        font-size: 14px;
        color: #444;

        .price-badge {
          background-color: #ffc107;
          color: #000;
          padding: 3px 8px;
          border-radius: 10px;
          margin-right: 6px;
          font-size: 12px;
        }
      }
    }
  }

 
}
.cart-actions {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px; /* space between buttons */
  z-index: 1000;

  button {
    padding: 10px 16px;
    border-radius: 8px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    width:190px;
  }

  .go-to-cart {
    background-color: #3880ff;
    color: white;
  }

  .remove-cart {
    background-color: #eb445a;
    color: white;
  }
}


