<div class="backdrop" (click)="onClose()"></div>

<div class="con">
  <p class="error" *ngIf="message">{{ message }}</p>


 @if(step===1){
   <div>
    <input type="email" placeholder="Enter email" [(ngModel)]="email" />
    <ion-button class="btn" (click)="checkUser()" [disabled]="!email || loading">Check User</ion-button>
  </div>
 }

 @if(step===2){
   
  <div *ngIf="step === 2">
    <input type="password" placeholder="Enter password" [(ngModel)]="password" />
    <ion-button (click)="deleteAccount()" [disabled]="!password || loading">Delete Account</ion-button>
  </div>
 }

 
  <button (click)="onClose()">Cancel</button>
</div>
