<ion-header>
  <ion-toolbar color="primary">
   <h1>Saved Restaurants</h1>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 @if(savedRestaurants.length>0){
  <div class="restaurant-container">
    @for(restaurant of savedRestaurants;track restaurant.
restaurantId){
     
        <ion-card class="restaurant-card">
     <div  [routerLink]="['/dishes',restaurant.restaurantId]" >
       <ion-img [src]="restaurant.imgUrl" alt="{{restaurant.name}}"></ion-img>

      <ion-card-content>
        <div class="restaurant-info">
          <h2>{{restaurant.name}}</h2>
          <p class="address">{{restaurant.address}}</p>
          <p class="rating">{{restaurant.rating}}
          <ion-icon name="star" color="warning"></ion-icon>
          </p>
        </div>
      
      </ion-card-content>
     </div>
        <ion-button
        fill="clear"
        size="small"
        (click)="remove(restaurant.restaurantId)"
        class="save-button"
        >
         🧡
      </ion-button>
    </ion-card>
    
    
    }

  </div>
 }

 @else {
  <ion-text color="medium">
    <h3 class="text-center">No Saved Restaurants</h3>
  </ion-text>
 }

</ion-content>
