<ion-header>
  <ion-toolbar color="primary" class="profile-toolbar">
    <button class="back-btn" (click)="goBack()">
      <
    </button>
    <h1 class="toolbar-title">Order-Details</h1>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <div class="ordered-items">
    <h2>Items</h2>
    <p><strong>Order Id</strong> {{order?._id}}</p>
    @for(item of order?.items; track item){
 <div class="order-item" >
      <img [src]="item.imgUrl" alt="{{ item.name }}">
      <div class="info">
        <p>{{ item.name }}</p>
        <p>{{ item.quantity }} x ₹{{ item.price }}</p>
      </div>
    </div>
    }
   
  </div>
   <ion-button (click)="openOrderCart()"
    color="tertiary" >
    <span><i class="fa-solid fa-rotate-right"></i></span> <span>Re-order</span>
  </ion-button>
 @if(bill && isOrderCart===false){
   <div class="container" role="dialog" aria-modal="true" aria-labelledby="bill-summary-heading">
  <h1 id="bill-summary-heading">Bill Summary</h1>

  <div class="bill-details">
    <div class="bill-row">
      <span>Items Amount</span>
      <span>₹{{ bill.totalprice }}</span>
    </div>
    <div class="bill-row">
      <span>GST & Restaurant Charges</span>
      <span>₹{{ bill.Gst }}</span>
    </div>
    <div class="bill-row">
      <span>Surge Fee</span>
      <span>₹{{ bill.surgeFee }}</span>
    </div>
    <div class="bill-row">
      <span>Platform Fee</span>
      <span>₹{{ bill.platformFee }}</span>
    </div>
    <hr>
    <div class="bill-row">
      <span>Grand Total</span>
      <span>₹{{ bill.grandTotal }}</span>
    </div>
    <div class="bill-row">
      <span>Rounded Amount</span>
      <span>₹{{ bill.amountRound }}</span>
    </div>
    <div class="bill-row to-pay">
      <span>To Pay</span>
      <span>₹{{ bill.toPay }}</span>
    </div>
  </div>
</div>
 }
   @if(isOrderCart){
      <app-order-cart [cartItems]="order?.items" [bill]="order?.bill" (close)="onclose()" (orderPlaced)="onOrderPlaced()" ></app-order-cart>
     }
</ion-content>
